# Database Configuration
POSTGRES_DB=library_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# JWT Secret
JWT_SECRET=secret123

# Email Configuration (for OTP)
MAIL_USERNAME=zalfyputra@gmail.com
MAIL_PASSWORD=ffmc dzbm vabr lsec

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
