# Database Configuration
POSTGRES_DB=library_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# JWT Secret
JWT_SECRET=this-is-a-very-long-JWT-secret-for-this-app

# Email Configuration (for OTP)
MAIL_USERNAME=johndoe@example.com
MAIL_PASSWORD=abcd efgh ijkl mnop

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379