spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
    
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    
  redis:
    host: localhost
    port: 6379
    
  mail:
    host: localhost
    port: 3025

jwt:
  secret: testSecretKeyForTestingPurposesOnly123456789
  expiration: 3600000

security:
  max-login-attempts: 5
  login-attempt-window-minutes: 10
  account-lock-duration-minutes: 30
  otp-expiration-minutes: 5

